.ant-collapse-header {
    background-color: #FFF2F7 !important;
    color: white !important;
    border-radius: 0.625rem !important;
    align-items: center !important;
    padding: 0.625rem 1.25rem !important;
    align-items: center !important;
  }
  .ant-collapse-header-text, .ant-collapse-header-text article {
    color: #000000 !important;
    align-items: center !important;
  }
  .ant-space-item, .ant-space-item article {
    color: #000000 !important;
  }
  .page-container {
    background-color: #fff !important;
  }

  .ant-collapse-content-box {
    padding: 0px !important;
    padding-top: 0.5rem !important;
  }
  .swiper-pagination-bullet-active{
    background: #FF4D4F !important;
  }

.ant-drawer-content{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

}
