.key-generate-container {
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;

    .api-key-container {
        padding: 10px;
        background: rgba(38, 162, 94, 0.2);
        color: rgba(38, 163, 94, 1);
        height: auto;
        border-radius: 10px;
    }
}