.item-order-container{
    .title{
        font-size: 14px;
        font-weight: 500;
        line-height: 16.8px;
    }
    .subTitle{
        color: rgb(90, 106, 133);
        font-weight: 400;
        line-height: 18px;
        font-size: 12px;
    }
    .cost{
        font-size: 12px;
        font-weight: 600;
        line-height: 14.4px;
    }
    .quantityChangeBn{
        width: 20px;
        height: 20px;
        background-color: rgb(230, 255, 250);
        color: rgba(var(--bs-success-rgb), var(--bs-text-opacity)) !important;
        font-size: .765625rem;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .quantity{
        color: #5a6a85;
        font-size: 12px;
    }
}