.order-page {
    .ant-table-wrapper .ant-table-tbody tr > td {
      padding: 3px 8px !important;
      vertical-align: top;
    }
    .ant-table-wrapper .ant-table-thead > tr > th {
      padding: 8px !important;
    }
    
    // Only for search
    .search-tour {
      .ant-form-inline .ant-form-item {
        margin-inline-end: 0px !important;
      }
      .ant-select-single .ant-select-selector {
        border-radius: 0px !important;
      }
    }

    .ant-table-content {
      scrollbar-width: auto;
      scrollbar-color: auto;
    }
    
    // custom scrollbar
    .ant-table-content::-webkit-scrollbar {
      width: 4px;
      height: 6px;
    }
    
    .ant-table-content::-webkit-scrollbar-track {
      background-color: #e1e6e6;
    }
    
    .ant-table-content::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background-color: #2CA58D;
    }
  }
  